<p><div class="toolbox" cdkDropList id="toolbox-drop-list" [cdkDropListData]="toolboxItems" [cdkDropListConnectedTo]="['canvas-drop-list']" (cdkDropListDropped)="onToolboxDropped($event)">
  <div class="category-group" *ngFor="let category of categories">
    <h3 class="category-title">{{ category }}</h3>
    
    <div class="toolbox-items">
      <div 
        class="toolbox-item"
        *ngFor="let item of getItemsByCategory(category)"
        cdkDrag
        [cdkDragData]="item"
        (cdkDragStarted)="onDragStart(item, $event)"
        (cdkDragEnded)="onDragEnd()"
        (click)="onItemClick(item)"
        [title]="item.description">
        
        <div class="item-icon">
          <span class="material-icons">{{ item.icon }}</span>
        </div>
        
        <div class="item-label">
          {{ item.displayName }}
        </div>
      </div>
    </div>
  </div>
</div>
