<div class="hierarchy-panel" data-testid="hierarchy-panel">
  <div class="hierarchy-tree" cdkDropListGroup *ngIf="rootElement$ | async as rootElement">
    <ng-container *ngTemplateOutlet="hierarchyNode; context: { $implicit: rootElement, level: 0 }"></ng-container>
  </div>
  
  <div class="empty-state" *ngIf="!(rootElement$ | async)?.children?.length">
    <span class="material-icons">account_tree</span>
    <p>No elements yet</p>
    <p class="hint">Drag controls from the toolbox to start designing</p>
  </div>
</div>

<!-- Template for recursive hierarchy node rendering -->
<ng-template #hierarchyNode let-element let-level="level">
  <div class="hierarchy-node"
       [style.padding-left.px]="level * 20"
       cdkDrag
       [cdkDragData]="element"
       [cdkDragDisabled]="element.id === 'root'">
    <div class="node-row">
      <div 
        class="node-content"
        cdkDragHandle
        tabindex="0"
        [class.selected]="isSelected(element)"
        [attr.data-testid]="'hierarchy-node-' + element.id"
        [attr.data-element-type]="element.type"
        [attr.data-element-name]="element.name"
        [attr.data-selected]="isSelected(element)"
        (click)="onElementSelect(element)"
        (keydown)="onNodeKeydown($event, element)">
        
        <div class="node-icon">
          <span class="material-icons">{{ getElementIcon(element) }}</span>
        </div>
        
        <div class="node-label">
          {{ element.name }}
        </div>
        
        <div class="node-type">
          ({{ element.type }})
        </div>
      </div>

      <div class="node-actions" *ngIf="element.id !== 'root'">
        <button
          type="button"
          class="action-button"
          [attr.data-testid]="'hierarchy-move-up-' + element.id"
          (mousedown)="$event.stopPropagation()"
          (click)="onMoveSibling(element, -1, $event)"
          title="Move up">
          <span class="material-icons">keyboard_arrow_up</span>
        </button>
        <button
          type="button"
          class="action-button"
          [attr.data-testid]="'hierarchy-move-down-' + element.id"
          (mousedown)="$event.stopPropagation()"
          (click)="onMoveSibling(element, 1, $event)"
          title="Move down">
          <span class="material-icons">keyboard_arrow_down</span>
        </button>
        <button
          type="button"
          class="action-button delete-button"
          [attr.data-testid]="'hierarchy-delete-' + element.id"
          (mousedown)="$event.stopPropagation()"
          (click)="onElementDelete(element, $event)"
          title="Delete element">
          <span class="material-icons">delete</span>
        </button>
      </div>
    </div>
    
    <div class="node-children"
         cdkDropList
         [cdkDropListData]="element"
         [cdkDropListEnterPredicate]="canEnter"
         [attr.data-testid]="'hierarchy-drop-' + element.id"
         (cdkDropListDropped)="onDrop($event, element)">
      <ng-container *ngFor="let child of element.children">
        <ng-container *ngTemplateOutlet="hierarchyNode; context: { $implicit: child, level: level + 1 }"></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>
